nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

body {
    font-family: 'Open Sans', sans-serif;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.primary-color {
    color: #FD6E0A;
}

nav a {
    text-decoration: none;
}

.primary-btn {
    /* width: 150px;
height: 64px; */
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header style */
.header-class {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 500px;
}

.b-describe {
    margin-right: 163px;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}


.greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.main-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.ori {
    margin-right: 10px;
}

.banner-content {
    max-width: 500px;
}

/* About section             */
.about {
    background-color: aquamarine;
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0px;
  
    
}

.abt {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.abt-des {}

main {
    max-width: 1140px;
    margin: 0 auto;
    
    
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
   

.about-info {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    }

/* what i do section */
#id-do{
    text-align: center;
    margin: 30px 345px;
   

}
.section-title{
    text-align: center;
}
.skills-container{
    display:flex;
   
}
.skill{
    padding:30px;
    gap:24px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px blanchedalmond;
}
main .section-title{
    margin-top: 130px;
}

/* Resume Summery */
.resume-column-title{
    color:  #474747;
font-size: 30px;
font-weight: 700;

}
.section-title{
    color:  #181818;

font-size: 35px;

font-weight: 700;

}
.resume-container{
    display:flex;
}





















/* Footer */